<div class="button-page">
  <div class="row">

      <div class="col-sm-12">
        <app-card [title]="'Add Category' | translate">
              <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
                <div *ngIf="f.form.invalid && f.submitted" class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>Category Details!</strong>The form has the following errors that need to be corrected
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                  <div class="card-header">
                      <h2> 
                          <span *ngIf="!isUpdate"></span> 
                          <span *ngIf="isUpdate">{{'Add New' | translate}}</span>
                      </h2>
                      </div>
                      <div class="card-body">
                          <!--  <div class="form-group row">
                              <label class="col-sm-2 col-form-label">Category Id<span
                                class="text-danger font-weight-bold">
                                *</span></label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="categoryDetail.category_id" name="category_id"
                                required pattern="[a-zA-Z0-9]+" #category_id="ngModel"  
                                [ngClass]="{ 'is-invalid': f.submitted && category_id.invalid, 
                                'is-valid': f.submitted && category_id.valid }"
                               required/>
                               <div *ngIf="f.submitted && category_id.invalid" class="invalid-feedback">
                                <div *ngIf="category_id.errors.required"> Please provide product id</div>
                             
                            <div *ngIf="category_id.errors.pattern">Id should be only in Alphanumeric
                               </div>
                            </div>
                              </div>
                            </div>  -->
                          <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{'Category Name' | translate}}<span
                                class="text-danger font-weight-bold">
                                *</span></label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="categoryDetail.category_name" name="category_name"
                                required  pattern="^(?:[A-Za-z]+)(?:[A-Za-z _]*)$" #category_name="ngModel"  
                                [ngClass]="{ 'is-invalid': f.submitted && category_name.invalid, 
                                'is-valid': f.submitted && category_name.valid }"
                               required/>
                               <div *ngIf="f.submitted && category_name.invalid" class="invalid-feedback">
                                <div *ngIf="category_name.errors.required"> {{'Please provide Category' | translate}}</div>
                             
                            <div *ngIf="category_name.errors.pattern">{{'Id should be only in Alphabets' | translate}}
                               </div>
                            </div>
                              </div>
                            </div>
                           

                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label class="col-sm-5 col-form-label">{{'Created by' | translate}}
                                 
                                </label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" name="created_by"
                                  [(ngModel)]="categoryDetail.created_by"
                                  #created_by="ngModel" readonly>
                              </div>
                            </div>
                              <div class="form-group col-md-6">
                                <label class="col-sm-5 col-form-label">{{'Created Time' | translate}}
                                  
                                </label>
                                <div class="col-sm-10">
                                 
                              
                                  <input type="text" class="form-control" name="created_time"  
                                   readonly value="{{categoryDetail.created_time | date : 'short'}}">
                                   
                                
                                
                              </div>
                              </div>
                            </div>

                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label class="col-sm-5 col-form-label">{{'Updated by' | translate}}
                                 
                                </label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" name="updated_by"
                                    [(ngModel)]="categoryDetail.updated_by"
                                    #updated_by="ngModel" readonly>
                              </div>
                            </div>
                              <div class="form-group col-md-6">
                                <label class="col-sm-5 col-form-label">{{'Updated Time' | translate}}

                                 
                                </label>
                                <div class="col-sm-10">
                                
                                  <input type="text" class="form-control" name="modified_time"  
                                   readonly value=" {{categoryDetail.modified_time | date : 'short'}}">
                                
                              </div>
                            </div>
                            </div>
                            


                            <button  class="btn btn-success btn-round">
                              <span *ngIf="!isUpdate">{{'Save' | translate}}</span>
                              <span *ngIf="isUpdate">{{'Update' | translate}}</span>
                          </button>
                          <button type="button" class="btn btn-light btn-round"
                                   (click)="onClickForm()">{{'Reset' |translate}}</button>
                                   <button class="btn btn-danger btn-round" type="button" appCancelbutton >{{'Cancel' | translate}}</button>
                          </div>
              </form>
          </app-card>
          </div>
      </div></div>