.btn-danger{
  margin-left: 20px;
  margin-right:20px;
}
.btn-primary{
  background-color: #57aeb6;
  border: none;
}
.thead{
    background-color: #87ceeb54;
    color: black;background-color: #57aeb6;
    color: #fff;
    font-family: sans-serif;
  }

  .btn-success{
    background-color: #57aeb6;
  
    border: none;
    
  }