


   
    <router-outlet>
        <div class="container">
            <flash-messages></flash-messages>
        </div>
 
        <app-spinner></app-spinner>
    </router-outlet>

 
 <app-scrolltop></app-scrolltop>

 

