.btn-danger{
    margin-left: 20px;
    margin-right:20px;
}
.btn-primary{
    background-color: #57aeb6;
    border: none;
}
.thead{
    background-color: #87ceeb54;
    color: black;background-color: #57aeb6;
    color: #fff;
    font-family: sans-serif;
}

.btn-secondary{
    background-color: #57aeb6;
    height: 35px;
    margin-top: 0px;
}

.btn-success{
    background-color: #57aeb6;
  
    border: none;
    height: 35px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #ddd;
}

.margin-left{
    margin-left: 3px !important;
}

.well{
    display: block;
     min-height: 0px; 
       padding: 0px; 
      margin-bottom: 0px;
      background-color:white;
      border:none;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      margin-left: 30px;
  }
  
  
  .btn i {
      margin-right: 1px;
  }
  
  .routerlink{
    font-size: medium !important;}

    

  p {
    font-family: Lato;
  }
  
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .hoverable{
    position: relative;
    display: block;
    cursor: pointer;
    height: 200px;
    width: 200px;
    border: 5px solid #000;
    border-radius: 50%;
  }
  .hoverable .hover-text{
    position: absolute;
    display: none;
    top: 50%;
    left:  50%;
    transform: translate(-50%,-50%);   
    z-index: 2;
  }
  .hoverable .background{
    position: absolute;
    display: none;
    top: 0;
    left:  0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
  }
  .hoverable:hover .hover-text{
    display: block;
  }
  .hoverable:hover .background{
    display: block;
  }
  
  #fileInput{
    display: none;
  }
  
  