<div class="button-page">
    <div class="row">
  
      <div class="col-sm-12">
        <app-card [title]="'Create Products' | translate">
          <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
            <div *ngIf="f.form.invalid && f.submitted" class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Product Details!</strong>The form has the following errors that need to be corrected
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="card-header">
              <h2> 
                  <span *ngIf="!isUpdate"></span> 
                  <span *ngIf="isUpdate">{{'Add New' | translate}}</span>
              </h2>
              </div>
              <div class="card-body">
          <!--   <div class="form-group row">
              <label class="col-sm-2 col-form-label">Product Id<span
                class="text-danger font-weight-bold">
                *</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="productDetail.product_id" name="product_id"
                required pattern="[a-zA-Z0-9]+" #product_id="ngModel"  
                [ngClass]="{ 'is-invalid': f.submitted && product_id.invalid, 
                'is-valid': f.submitted && product_id.valid }"
               required/>
               <div *ngIf="f.submitted && product_id.invalid" class="invalid-feedback">
                <div *ngIf="product_id.errors.required"> Please provide product id</div>
             
            <div *ngIf="product_id.errors.pattern">Id should be only in Alphanumeric
               </div>
            </div>        
              </div>
            </div> -->

         
              
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{'Product Name' | translate}}<span
                class="text-danger font-weight-bold">
                *</span></label> 
             
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="productDetail.product_name" name="product_name"
                pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$" #product_name="ngModel"  
                [ngClass]="{ 'is-invalid': f.submitted && product_name.invalid, 
                'is-valid': f.submitted && product_name.valid }"
               required/>
               <div *ngIf="showError != ''" class="alert alert-danger">
                {{showError}}</div> 
            
               <div *ngIf="f.submitted && product_name.invalid" class="invalid-feedback">
                <div *ngIf="product_name.errors.required"> {{'Please provide product name' | translate}}</div>
             
            <div *ngIf="product_name.errors.pattern">{{'provide valid product'| translate}}
               </div>
            </div>
              </div>
            </div>
  
  
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{'Cost Price' | translate}}<span
                class="text-danger font-weight-bold">
                *</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="productDetail.cost" name="cost"
                pattern="[0-9]*[.]?[0-9]+" #cost="ngModel"  
                [ngClass]="{ 'is-invalid': f.submitted && cost.invalid, 
                'is-valid': f.submitted && cost.valid }"
               required/>
               <div *ngIf="f.submitted && cost.invalid" class="invalid-feedback">
                <div *ngIf="cost.errors.required">{{'Please provide cost price' | translate}}</div>
             
            <div *ngIf="cost.errors.pattern">{{'only number allowed' | translate}}
               </div>
            </div>
              </div>
            </div>
  
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{'Supplier Name' | translate}}<span
                class="text-danger font-weight-bold">
                *</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="productDetail.supplier_name" name="supplier_name"
                pattern="[a-zA-Z_]+" #supplier_name="ngModel"  
                [ngClass]="{ 'is-invalid': f.submitted && supplier_name.invalid, 
                'is-valid': f.submitted && supplier_name.valid }"
               required/>
               <div *ngIf="f.submitted && supplier_name.invalid" class="invalid-feedback">
                <div *ngIf="supplier_name.errors.required"> {{'Please provide supplier name' | translate}}</div>
             
            <div *ngIf="supplier_name.errors.pattern">{{'only alphabets allowed' | translate}}
               </div>
            </div>
              </div>
            </div>
      
           
            <div class="form-group row">
              <label  for="category_name" class="col-sm-2 col-form-label">{{'Category List' | translate}}<span
                class="text-danger font-weight-bold">
                *</span></label>
            
                <div class="col-sm-10">
                  <select class="form-control" name="category_name" [(ngModel)]="productDetail.category_name"
                      #category_name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && category_name.invalid, 
                      'is-valid': f.submitted && category_name.valid }"
                     required >
                      <option *ngFor="let obj of categoryDetail" [value]="obj.category_name">{{obj.category_name}}
                      </option>
                  </select> 
                  <div *ngIf="f.submitted && category_name.invalid" class="invalid-feedback">
                      <div *ngIf="category_name.errors.required">{{'Required Categoryname' | translate}}</div>
                  </div>
              </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'Upload images' | translate}}<span class="text-danger font-weight-bold">
              *</span>
            </label>
            <div class="col-sm-10">
              <input type="file"  class="form-control" name="files"  #files="ngModel"  [(ngModel)]="productDetail.files"
                        
             (change)="selectImage($event)"/>
            </div>
          </div>
          
          <div class="form-group">
            <div class="hoverable" *ngIf="preview && preview !== null">
              <img [src]="preview" >
              
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-sm-5 col-form-label">   
                {{'Created by' | translate}}
              
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="created_by"
                [(ngModel)]="productDetail.created_by"
                #created_by="ngModel" readonly>
            </div>
          </div>
            <div class="form-group col-md-6">
              <label class="col-sm-5 col-form-label">
                {{'Created Time' | translate}}

              </label>
              <div class="col-sm-10">
               
            
                <input type="text" class="form-control" name="created_time"  
                 readonly value="{{productDetail.created_time | date : 'short'}}">
         
            </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-sm-5 col-form-label"> 
                {{'Updated by' | translate}}
              
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="updated_by"
                  [(ngModel)]="productDetail.updated_by"
                  #updated_by="ngModel" readonly>
            </div>
          </div>
            <div class="form-group col-md-6">
              <label class="col-sm-5 col-form-label">{{'Updated Time' | translate}}
              </label>
              <div class="col-sm-10">
              
                <input type="text" class="form-control" name="modified_time"  
                 readonly value=" {{productDetail.modified_time | date : 'short'}}">
              
            </div>
          </div>
          </div>
              </div>
          <button  class="btn btn-success btn-round">
            <span *ngIf="!isUpdate">{{'Save' | translate}}</span>
            <span *ngIf="isUpdate">{{'Update' | translate}}</span>
        </button>
        <button type="button" class="btn btn-light btn-round" (click)="onClickForm()">{{'Reset' | translate}}</button>
        <button class="btn btn-danger btn-round" type="button" appCancelbutton >{{'Cancel' | translate}}</button>
  
          </form>
        </app-card>
      </div>
      </div>
      </div>
  
  
  