
<!-- 
 <div class="btn-toolbar text-center well">
  <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
    <i class="fa fa-truck" aria-hidden="true"></i> Sell
  </button>
  <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
    <i class="fa fa-money" aria-hidden="true"></i> Reciept
  </button>
  <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
    <i class="fa fa-credit-card" aria-hidden="true"></i> Payment
  </button>
  <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Purchase
  </button>
</div>
 -->
 <div class="container">
    <div class="row">
  
        <div class="col-sm-12">
            <app-card [title]="'Add User Types'">
                <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
                    <div class="card-header">
                        <h2> 
                            <span *ngIf="!isUpdate"></span> 
                            <span *ngIf="isUpdate">Add New</span>
                        </h2>
                        </div>
                        <div class="card-body">
                          <!--    <div class="form-group row">
                                <label class="col-sm-2 col-form-label">User Type Id<span
                                  class="text-danger font-weight-bold">
                                  *</span></label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" [(ngModel)]="userType.usertype_id" name="usertype_id"
                                  required pattern="[a-zA-Z0-9]+" #usertype_id="ngModel"  
                                  [ngClass]="{ 'is-invalid': f.submitted && usertype_id.invalid, 
                                  'is-valid': f.submitted && usertype_id.valid }"
                                 required/>
                                 <div *ngIf="f.submitted && usertype_id.invalid" class="invalid-feedback">
                                  <div *ngIf="usertype_id.errors.required"> Please provide Usertype id</div>
                               
                              <div *ngIf="usertype_id.errors.pattern">Id should be only in Alphanumeric
                                 </div>
                              </div>
                                </div>
                              </div> -->
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">User Type <span
                                  class="text-danger font-weight-bold">
                                  *</span></label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" [(ngModel)]="userType.usertype_name" name=" usertype_name"
                                  required pattern="[a-zA-Z\s]+" #usertype_name="ngModel"  
                                  [ngClass]="{ 'is-invalid': f.submitted &&  usertype_name.invalid, 
                                  'is-valid': f.submitted &&  usertype_name.valid }"
                                 required/>
                                 <div *ngIf="f.submitted &&  usertype_name.invalid" class="invalid-feedback">
                                  <div *ngIf=" usertype_name.errors.required"> Please provide  usertype name</div>
                               
                              <div *ngIf=" usertype_name.errors.pattern">Id should be only in Alphabets
                                 </div>
                              </div>
                                </div>
                              </div>

                              <div class="form-row">
                                <div class="form-group col-md-3">
                                  <label class="col-sm-5 col-form-label">Created by
                                   
                                  </label>
                                  <div class="col-sm-10">
                                    <input type="text" class="form-control" name="created_by"
                                    [(ngModel)]="userType.created_by"
                                    #created_by="ngModel" readonly>
                                </div>
                              </div>
                                <div class="form-group col-md-3">
                                  <label class="col-sm-5 col-form-label">Created Time
                                    
                                  </label>
                                  <div class="col-sm-10">
                                   
                                
                                    <input type="text" class="form-control" name="created_time"  
                                     readonly value="{{userType.created_time | date : 'short'}}">
                                     
                                  
                                  
                                </div>
                                </div>
                                <div class="form-group col-md-3">
                                  <label class="col-sm-5 col-form-label">Updated by
                                   
                                  </label>
                                  <div class="col-sm-10">
                                    <input type="text" class="form-control" name="updated_by"
                                      [(ngModel)]="userType.updated_by"
                                      #updated_by="ngModel" readonly>
                                </div>
                              </div>
                                <div class="form-group col-md-3">
                                  <label class="col-sm-5 col-form-label">Updated Time
                                   
                                  </label>
                                  <div class="col-sm-10">
                                  
                                    <input type="text" class="form-control" name="modified_time"  
                                     readonly value=" {{userType.modified_time | date : 'short'}}">
                                  
                                </div>
                              </div>
                                </div>
                             
                              <button  class="btn btn-success btn-round">
                                <span *ngIf="!isUpdate">Save</span>
                                <span *ngIf="isUpdate">Update</span>
                            </button>
                    <button class="btn btn-danger btn-round" type="button" appCancelbutton >Cancel</button>
                            </div>
                </form>
            </app-card>
            </div>
        </div>
  </div>
  
  