<div class="row">
  <div class="col-sm-12">
 

    <app-card *ngIf="this.util.langDataSource.value != 'ar'" [title]="'Add Expenses'">
      <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
        <div *ngIf="f.form.invalid && f.submitted" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Expenses Details!</strong>The form has the following errors that need to be corrected
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-header">
          <h2> 
              <span *ngIf="!isUpdate"></span> 
              <span *ngIf="isUpdate">{{'Add New' | translate}}</span>
          </h2>
          </div>
            <div class="card-body">
              
            <!--   <div class="form-group row">
                <label class="col-sm-2 col-form-label">{{'Added User Email' | translate}}:<span class="text-danger font-weight-bold"> *</span></label>
                <input type="text" class="form-control" name="add_user_email"
                [(ngModel)]="expenseDetail.add_user_email"
                #add_user_email="ngModel" readonly>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">{{'Updated User Email' | translate}}:<span class="text-danger font-weight-bold"> *</span></label>
                <input type="text" class="form-control" name="update_user_email"
                [(ngModel)]="expenseDetail.update_user_email"
                #update_user_email="ngModel" readonly>
              </div> -->
                       
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'Date' | translate}}<span class="text-danger font-weight-bold"> *</span>
              </label>
              <div class="col-sm-10">
                <input type="date" class="form-control" [(ngModel)]="expenseDetail.date" name="date"
                required  #date="ngModel"  
                [ngClass]="{ 'is-invalid': f.submitted && date.invalid, 
                'is-valid': f.submitted && date.valid }"
               required/>
               <div *ngIf="f.submitted && date.invalid" class="invalid-feedback">
                <div *ngIf="date.errors.required">{{'Please provide Date' | translate}}</div>
            </div>
              </div>
            </div>
                  
         
            <div class="form-group row">
              <label  for="expensesitem" class="col-sm-2 col-form-label">{{'Expenses Item' | translate}}<span
                class="text-danger font-weight-bold">
                *</span></label>
                 <div class="col-sm-10">
                 <!--  <select class="form-control" name="expense_item" [(ngModel)]="expenseDetail.expense_item"
                      #expense_item="ngModel" [ngClass]="{ 'is-invalid': f.submitted && expense_item.invalid, 
                      'is-valid': f.submitted && expense_item.valid }" required>
                      <option value="">Choose your Expenses Item</option>
                      <option *ngFor="let obj of expenseItemDetail" [value]="obj.expense_item">{{obj.expense_item}}
                      </option>
                  </select> --> 
                  <input type="expense_item" class="form-control" [(ngModel)]="expenseDetail.expense_item" name="expense_item"
                  required  #expense_item="ngModel"  
                  [ngClass]="{ 'is-invalid': f.submitted && expense_item.invalid, 
                  'is-valid': f.submitted && expense_item.valid }"
                 required/>
                  <div *ngIf="f.submitted && expense_item.invalid" class="invalid-feedback">
                      <div *ngIf="expense_item.errors.required">{{'Requred Expenses Item' | translate}}</div>
                  </div>
              </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'Amount' | translate}}<span class="text-danger font-weight-bold">
              *</span>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="expenseDetail.amount" name="amount"
              pattern="[0-9]*[.]?[0-9]+" #amount="ngModel"  
              [ngClass]="{ 'is-invalid': f.submitted && amount.invalid, 
              'is-valid': f.submitted && amount.valid }"
             required/>
             <div *ngIf="f.submitted && amount.invalid" class="invalid-feedback">
              <div *ngIf="amount.errors.required">{{'Please provide amount' | translate}}</div>
           
              <div *ngIf="amount.errors.pattern">{{'only numbers allowed' | translate}}
             </div>
          </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'Upload images' | translate}}<span class="text-danger font-weight-bold">
              *</span>
            </label>
            <div class="col-sm-10">
              <input type="file" class="form-control" name="files"  #files="ngModel"  [(ngModel)]="expenseDetail.files"
                         (change)="selectImage($event)"/>
            </div>
          </div>
           
          <div class="form-group">
            <div class="hoverable" *ngIf="preview && preview !== null">
              <img [src]="preview" >
              
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-sm-5 col-form-label">{{'Created by' | translate}}
               
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="created_by"
                [(ngModel)]="expenseDetail.created_by"
                #created_by="ngModel" readonly>
            </div>
          </div>
            <div class="form-group col-md-6">
              <label class="col-sm-5 col-form-label">{{'Created Time' | translate}}
                
              </label>
              <div class="col-sm-10">
               
            
                <input type="text" class="form-control" name="created_time"  
                 readonly value="{{expenseDetail.created_time | date : 'short'}}">
                 
              
              
            </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-sm-5 col-form-label">{{'Updated by' | translate}}
               
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="updated_by"
                  [(ngModel)]="expenseDetail.updated_by"
                  #updated_by="ngModel" readonly>
            </div>
          </div>
            <div class="form-group col-md-6">
              <label class="col-sm-5 col-form-label">{{'Updated Time' | translate}}
               
              </label>
              <div class="col-sm-10">
              
                <input type="text" class="form-control" name="modified_time"  
                 readonly value=" {{expenseDetail.modified_time | date : 'short'}}">
              
            </div>
          </div>
          </div>
          
          <button  class="btn btn-success btn-round">
            <span *ngIf="!isUpdate">{{'Save' | translate}}</span>
            <span *ngIf="isUpdate">{{'Update' | translate}}</span>
        </button>
        <button type="button" class="btn btn-light btn-round"
                 (click)="onClickForm()">{{'Reset' | translate}}</button>
                 <button class="btn btn-danger btn-round" type="button" appCancelbutton>{{'Cancel' | translate}}</button>
          </div>
        </form>
      </app-card>
      <app-card *ngIf="this.util.langDataSource.value == 'ar'" [title]="'إضافة النفقات'">
        <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
          <div *ngIf="f.form.invalid && f.submitted" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Expenses Details!</strong>The form has the following errors that need to be corrected
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-header">
            <h2> 
                <span *ngIf="!isUpdate"></span> 
                <span *ngIf="isUpdate">{{'Add New' | translate}}</span>
            </h2>
            </div>
              <div class="card-body">
              
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{'Date' | translate}}<span class="text-danger font-weight-bold"> *</span>
                </label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" [(ngModel)]="expenseDetail.date" name="date"
                  required  #date="ngModel"  
                  [ngClass]="{ 'is-invalid': f.submitted && date.invalid, 
                  'is-valid': f.submitted && date.valid }"
                 required/>
                 <div *ngIf="f.submitted && date.invalid" class="invalid-feedback">
                  <div *ngIf="date.errors.required">{{'Please provide Date' | translate}}</div>
              </div>
                </div>
              </div>
                    
           
              <div class="form-group row">
                <label  for="expensesitem" class="col-sm-2 col-form-label">{{'Expenses Item' | translate}}<span
                  class="text-danger font-weight-bold">
                  *</span></label>
                   <div class="col-sm-10">
                    <select class="form-control" name="expense_item" [(ngModel)]="expenseDetail.expense_item"
                        #expense_item="ngModel" [ngClass]="{ 'is-invalid': f.submitted && expense_item.invalid, 
                        'is-valid': f.submitted && expense_item.valid }" required>
                        <option value="">Choose your Expenses Item</option>
                        <option *ngFor="let obj of expenseItemDetail" [value]="obj.expense_item">{{obj.expense_item}}
                        </option>
                    </select> 
                   
                    <div *ngIf="f.submitted && expense_item.invalid" class="invalid-feedback">
                        <div *ngIf="expense_item.errors.required">{{'Requred Expenses Item' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{'Amount' | translate}}<span class="text-danger font-weight-bold">
                *</span>
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="expenseDetail.amount" name="amount"
                pattern="[0-9]*[.]?[0-9]+" #amount="ngModel"  
                [ngClass]="{ 'is-invalid': f.submitted && amount.invalid, 
                'is-valid': f.submitted && amount.valid }"
               required/>
               <div *ngIf="f.submitted && amount.invalid" class="invalid-feedback">
                <div *ngIf="amount.errors.required">{{'Please provide amount' | translate}}</div>
             
                <div *ngIf="amount.errors.pattern">{{'only numbers allowed' | translate}}
               </div>
            </div>
              </div>
             
            </div>
             <div class="form-group row">
                <label class="col-sm-2 col-form-label">{{'Upload images' | translate}}<span class="text-danger font-weight-bold">
                  *</span>
                </label>
                <div class="col-sm-10">
                  <input type="file" class="form-control" name="files"  #files="ngModel"  [(ngModel)]="expenseDetail.files"
                            
                 (change)="selectImage($event)"/>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="col-sm-5 col-form-label">{{'Created by' | translate}}
                   
                  </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="created_by"
                    [(ngModel)]="expenseDetail.created_by"
                    #created_by="ngModel" readonly>
                </div>
              </div>
                <div class="form-group col-md-6">
                  <label class="col-sm-5 col-form-label">{{'Created Time' | translate}}
                    
                  </label>
                  <div class="col-sm-10">
                   
                
                    <input type="text" class="form-control" name="created_time"  
                     readonly value="{{expenseDetail.created_time | date : 'short'}}">
                     
                  
                  
                </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="col-sm-5 col-form-label">{{'Updated by' | translate}}

                   
                  </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="updated_by"
                      [(ngModel)]="expenseDetail.updated_by"
                      #updated_by="ngModel" readonly>
                </div>
              </div>
                <div class="form-group col-md-6">
                  <label class="col-sm-5 col-form-label">{{'Updated Time' | translate}}
                   
                  </label>
                  <div class="col-sm-10">
                  
                    <input type="text" class="form-control" name="modified_time"  
                     readonly value=" {{expenseDetail.modified_time | date : 'short'}}">
                  
                </div>
              </div>
              </div>
                
            <button  class="btn btn-success btn-round">
              <span *ngIf="!isUpdate">{{'Save' | translate}}</span>
              <span *ngIf="isUpdate">{{'Update' | translate}}</span>
          </button>
          <button type="button" class="btn btn-light btn-round"
                   (click)="onClickForm()">{{'Reset' | translate}}</button>
                   <button class="btn btn-danger btn-round" type="button" appCancelbutton>{{'Cancel' | translate}}</button>
            </div>
          </form>
        </app-card>
    </div>
    </div>