.btn-success{
    background-color: #57aeb6;
    border: none;
}

.margin-left{
    margin-left: 10px !important;
}
.btn{
    margin-right: 10px;
}
.well{
    display: block;
}

.well1
{
    display: block;
    float: right;
}
.btn-light{
    color: #f2f5f8;
      background-color: #757b80;
      border-color: #d3d9df;
  }
    
  ::ng-deep .autocomplete-container{
    height: 34px !important;
}
::ng-deep .autocomplete-container .input-container input {
    padding: 0 6px !important;
    height: 34px !important;
    border:1px solid #ced4da !important;
}
.btn{
  margin-right: 10px;
}
.ng-autocomplete{
    width:100%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  /* ::ng-deep .mat-form-field-placeholder{

    color:gray !important;
  }
  
  ::ng-deep .mat-focused .mat-form-field-placeholder{
  
    color:gray !important;
  }
  
  ::ng-deep .mat-form-field-infix{
      border:0;
      padding:0;
  } */
  ::ng-deep .mat-form-field-infix{
    border: 1px solid #c7c7c7;
    padding: 10px;
  }
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #57aeb6!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #57aeb6 ;
  }
  ::ng-deep .mat-input-underline {
    display: none;
}

.btn-success{
  background-color: #57aeb6;  
}
.thead{
  background-color: #87ceeb54;
  color: black;background-color: #57aeb6;
  color: #fff;
  font-family: sans-serif;
}


.btn-light{
  color: #f2f5f8;
    background-color: #757b80;
    border-color: #d3d9df;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  border: 5px solid #000;
  border-radius: 50%;
}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);   
  z-index: 2;
}
.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text{
  display: block;
}
.hoverable:hover .background{
  display: block;
}

#fileInput{
  display: none;
}
