<div class="button-page">
    <div class="row">
  
      <div class="col-sm-12">
        <app-card [title]="'Change password' | translate">
         
        
   
          <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid &&  onSubmit()">
          <!--   <div *ngIf="f.form.invalid && f.submitted" class="alert alert-danger" role="alert" class="status-error"> The form has the following errors that need to be corrected:</div> -->
            <div *ngIf="f.form.invalid && f.submitted" class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Change password!</strong>The form has the following errors that need to be corrected
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
            
            <div class="card-header">
              <h2> 
                  <span *ngIf="!isUpdate"></span> 
                  <span *ngIf="isUpdate">{{'Add New' | translate}}</span>
              </h2>
              </div>
              <div class="card-body">
        
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{'Old Password' | translate}} <span
                class="text-danger font-weight-bold">
                *</span></label>
              <div class="input-group col-sm-10">
                <!-- Change input type to be dynamic -->
                <input
                 [(ngModel)]="oldPassword"
                  class="form-control" 
                  name="oldPassword"  required/>
              
               
              </div>
            </div>
           
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{{'New Password' | translate}} <span
                  class="text-danger font-weight-bold">
                  *</span></label>
                <div class="input-group col-sm-10">
                  <!-- Change input type to be dynamic -->
                  <input
                   
                  [(ngModel)]="newPassword"
                  class="form-control" 
                    name="newPassword"  required/>
                
                 
                </div>
              </div>
  
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">{{'Confirm Password' | translate}} <span
                  class="text-danger font-weight-bold">
                  *</span></label>
                <div class="input-group col-sm-10">
                  <!-- Change input type to be dynamic -->
                  <input
                   
                  [(ngModel)]="confirmPassword"
                  class="form-control" 
                    name="confirmPassword"  required/>
                
                 
                </div>
              </div>
  
  
  
       
  
          
  
           
          
          <!--   <div class="form-row">
              <div class="form-group col-md-6">
                <label class="col-sm-5 col-form-label"> {{'Created by' | translate}}
                 
                </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="created_by"
                  [(ngModel)]="userDetail.created_by"
                  #created_by="ngModel" readonly>
              </div>
            </div>
              <div class="form-group col-md-6">
                <label class="col-sm-5 col-form-label">{{'Created Time' | translate}}
  
                  
                </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="created_time"  
                   readonly value="{{userDetail.created_time | date : 'short'}}">
                  
              </div>
              </div>
            </div> -->
          <!--   <div class="form-row">
              <div class="form-group col-md-6">
                <label class="col-sm-5 col-form-label">{{'Updated by' | translate}}
                </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="updated_by"
                    [(ngModel)]="userDetail.updated_by"
                    #updated_by="ngModel" readonly>
              </div>
            </div>
              <div class="form-group col-md-6">
                <label class="col-sm-5 col-form-label"> {{'Updated Time' | translate}}
                
                </label>
                <div class="col-sm-10">
                
                  <input type="text" class="form-control" name="modified_time"  
                   readonly value=" {{userDetail.modified_time | date : 'short'}}">
                
              </div>
            </div>
  
              </div> -->
            <button  class="btn btn-success btn-round">
              <span *ngIf="!isUpdate">{{'Change Password' | translate}}</span>
              <span *ngIf="isUpdate">{{'Update' | translate}}</span>
          </button>
        
                 <button class="btn btn-danger btn-round" type="button" appCancelbutton >{{'Cancel' | translate}}</button>
            </div>
          </form>
        </app-card>
      </div>