.btn-success{
    background-color: #57aeb6;
}
.btn{
    margin-right: 10px;
}
::ng-deep .autocomplete-container{
    height: 34px !important;
}
::ng-deep .autocomplete-container .input-container input {
    padding: 0 6px !important;
    height: 34px !important;
    border:1px solid #ced4da !important;
}
/* .autocomplete-container{
    height:32px !important;
}
.autocomplete-container .input-container input{
    height:32px !important;
    line-height: 32px !important;
} */
.ng-autocomplete{
    width:100%;
}
.btn-light{
    color: #f2f5f8;
      background-color: #757b80;
      border-color: #d3d9df;
  }

  .btn-success{
    background-color: #57aeb6;
}
.btn-light{
    color: #f2f5f8;
      background-color: #757b80;
      border-color: #d3d9df;
  }

  .input-group > .input-group-append > .input-group-text{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
